<!doctype html>
<div class="container">
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>User-Signup</title>
    </head>
<body>

        <h1>
            <a href="/">User-Signup</a>
        </h1>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>
