{% extends "base.html" %}
{% block content %}

    <form action="/user-signup" method='post'>
        <table class="center">
            <tbody>
                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input id="username" name="username" type="text" {% if username %}value= {{ username }}{% endif %} />
                    </td>
                    {% if username_error %}
                    <td class="error">error: {{ username_error }} </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input id="password" name="password" type="password" />
                    </td>
                    {% if password_error %}
                    <td class="error">error: {{ password_error }} </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <label for="verify">Verify Password</label>
                    </td>
                    <td>
                        <input id="verify" name="verify" type="password" />
                    </td>
                    {% if verify_error %}
                    <td class="error">error: {{ verify_error }} </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <label for="email">Email (optional)</label>
                    </td>
                    <td>
                        <input id="email" name="email" type="text" {% if email %}value= {{ email }}{% endif %} />
                    </td>
                    {% if email_error %}
                    <td class="error">error: {{ email_error }} </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    <div class="buttonHolder">
        <input type="submit" value='Submit' />
    </div>
</form>

{% endblock %}
</body>
</html>